<div id="<%= dom_id order %>">
  <p>
    <strong>User:</strong>
    <%= order.user_id %>
  </p>

  <p>
    <strong>Restaurant:</strong>
    <%= order.restaurant_id %>
  </p>

  <p>
    <strong>Delivery person:</strong>
    <%= order.delivery_person_id %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= order.address_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= order.status %>
  </p>

  <p>
    <strong>Total price:</strong>
    <%= order.total_price %>
  </p>

</div>
